.chat
  = render partial: 'shared/side_bar'

  .main
    .main__header
      .main__header__left
        .main__header__left--groupname
          = @group.name
        .main__header__left--member
          Member :
          - @group.users.each do |user|
            = user.name
      = link_to edit_group_path(@group), class: "main__header--edit" do
        Edit
    .main__messages
      = render partial: 'messages/message', collection: @messages

    .main__form
      = form_for [@group, @message] do |f|
        .main__form__new-message
          .main__form__new-message__input-box
            = f.text_field :content, class: 'main__form__new-message__input-box--text', placeholder: 'type a message'
            = f.label :image, class: 'main__form__new-message__input-box--image', for: "upload-icon" do
              = fa_icon 'picture-o', class: 'fa fa-image'
              = f.file_field :image, class: 'hidden', id: "upload-icon"
          = f.submit 'Send', class: 'main__form__new-message--submit-btn'