.side
  .side__header
    .side__header--username
      = current_user.name
    = link_to new_group_path, class: "side__header--icon" do
      = fa_icon 'edit'
    = link_to edit_user_path(current_user), class: "side__header--icon" do
      = fa_icon 'cog'
  .side__groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: "side__groups__group" do
        .side__groups__group--groupname
          = group.name
        .side__groups__group--message
          = group.show_last_message